/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.encabezado {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

.buscador {
    margin-top: 10px;
}

.contenedor-principal {
    margin: 20px;
}

.modulo {
    margin-bottom: 30px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    max-width: 80%;
    text-align: center;
}

.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

/* Estilos para el botón de búsqueda */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
