
.lightMode{
    background-color: var(--CelesteClaro);
  } 
  .lightMode #header {
    background-color: var(--CelesteClaro);
  }
  .lightMode .inicio .content #estudio {
    background-color: var(--CelesteClaro);
  }
  .lightMode #header .list-container .navbar .list-element .btn:hover{
    color: var(--CelesteClaro);
  }
.cursos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
    margin: 5%;
    font-weight: lighter;
  }
  .cursos-heading-container {
    margin: 5%;
  }
  .cursos-heading {
    font-size: 3.1rem;
  }
  .cursos-heading-line-image img{
    width: 95%;
  }
/* Estilos para los botones de cursos */
  .curso-button {
    display: flex;
    background-color: #472B71;
    align-items: center;
    border: solid var(--Blanco) 0.4rem;
    border-radius: 3rem;
    padding: 2rem 5rem 2rem 5rem;
    margin: 1%;
    width: 50rem;
    text-transform: uppercase;
    cursor:pointer;
} 
  .curso-button:hover {
      transform: scale(1.1);
} 
.curso-button h2 {
margin-left: 6.5rem;
padding-top: 3%; 
}
  #btn-logica {
      background-color: #8BA300;
  }
  #btn-ingles {
      background-color: #CC0300;
  }
  #btn-c {
      background-color: #083C7D;
  }
  #btn-html {
      background-color: #009E84;
  }
  #btn-css {
      background-color: #FA6C00;
  }
  #btn-js {
      background-color: #6F1A7A;
      padding-right: 0;
  }
  #btn-python {
      background-color: #00699E;
  }
  #btn-node {
      background-color: #F5B800;
  }
  #btn-sql {
      background-color: #B80081;
  }
.image-boton-curso-container img{
height: 8rem;
width: 8rem;
margin: 1%;
}
@media (min-width:320px) and (max-width:359px) {
html {font-size: 35%;}
.list-container {display: none;}
.curso-button {height: 15rem; }
}
@media (min-width:320px) and (max-width:859px) {
.list-container {display: none;}
}

