@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');
@import url(crearCuenta.css);
@import url(notFound.css);
@import url(sweetAlert.css);
@import url(popUpCrearCuenta.css);
@import url(header.css);
@import url(toggle.css);
@import url(footer.css);

:root{
  /*Fonts*/
  --Poppins: 'Poppins', sans-serif;
  /*Palette*/
  --Blanco: white;
  --Negro: black;
  --VioletaClaro:#5D60C0;
  --VioletaMedio:#835CBF;
  --CelesteClaro:#AAD9D9;
}
.lightMode{
  background-color: var(--CelesteClaro);
} 
.lightMode .inicio .content #estudio {
  background-color: var(--CelesteClaro);
}
.lightMode #header .list-container .navbar .list-element .btn:hover{
  color: var(--CelesteClaro);
}
.lightMode .menu-smartphone {
  background-color: var(--CelesteClaro);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: var(--Poppins);
  color: var(--Blanco);
  outline: none;
  text-decoration: none;
  list-style: none;
}
/*Esta es la aplicacion de los valores de la totalidad del html
la consola dice que el "Font-Size:40%" no esta siendo aplicado.
No le hagan caso a eso, porque si esta siendo aplicado.*/
html {
  font-size: 40%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container-c {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  background-color: var(--Negro);
}

/*-----ctrl+D para seleccionar y editar todos los heder al mismo tiempo-----------*/

.inicio {
  display: flex;
  flex: 1 1 50;
  margin: 2rem 0;
  padding-left: 5%;
  padding-top: 11%;
  height: 125rem;
}
.content {
  margin-right: 3%;
}
.inicio h2 {
  font-size: 4.9rem;
}
.inicio h1 {
  color: var(--VioletaClaro);
  font-size: 10.5rem;
} 
.inicio .parrafo-INVIA {
  font-size: 3.4rem;
}
.inicio  .btn-container {
  display: flex;
  flex: 1 1 30;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 0 1rem 0 1rem;
}
.inicio .content .btn-container .btn {
  font-size: 2.9rem;
  border: var(--Blanco) solid 0.2rem;
  border-radius: 0.4rem; 
}
.inicio .content #cursos {
  font-weight: bold;
  color: var(--Blanco);
  background-color: var(--VioletaClaro);
  padding: 2rem 5rem 2rem 5rem;
}
.inicio .content #estudio {
  font-weight: bold;
  color: var(--VioletaClaro);
  background-color: var(--Negro);
  padding: 2rem 5rem 2rem 5rem;
}
.inicio .btn-container #estudio:hover {
  transition-duration: 0.5s ;
  background-color: var(--Blanco);
  color: var(--VioletaClaro);
  transform: scale(1.1);
  cursor: pointer;
}
.inicio .btn-container #cursos:hover {
  transition-duration: 0.5s ;
  background-color: var(--Blanco) ;
  color: var(--VioletaClaro);
  transform: scale(1.1);
  cursor: pointer;
}
.horizontal-line{
  height: 55rem;
  margin: 10rem 5rem 0 20rem;
  border: 0.5rem solid;
}
.img-container-inicio {
  margin: 3rem 15rem 0 5rem;
  height: 125rem;
  width: 70rem;
}
.inicio div #foto-chica {
  border: var(--Blanco) solid 0.6rem; 
  border-radius: 5rem;
  height: 55%;
  margin: 0 0% 0% 10%;
}
/*Aca empieza la barra lateral de marcas*/
.aside-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  }
  .aside-logo {
    right: 2rem;
  }
  .inicio .aside-logo li:hover {
  transform: scale(1.1);
  }
  /*Este es el sector de los rombos, estan metidos en un div
  y los movi con la posicion absolute para que esten en
  el fondo como decoracion*/
#rombo1 {
  position: relative;
  bottom:130rem;
  right:35rem;
}
#rombo1 img {
  position: absolute;
}
#rombo2 {
  position: relative;
  bottom:155rem;
  left:128rem;
}
#rombo2 img {
  position: absolute;
}
/*carousel*/
/*Desde aca empieza el codigo del carrusel.
El @keyframe es para la animacion y el resto para los estilos*/
@keyframes slide {
  from {transform: translateX(0)}
  to {transform: translateX(-100%);  }
}
.carousel-container {
  white-space: nowrap;
  background-color: var(--Blanco);
  overflow: hidden;
  padding: 3rem 3rem;
  height: 30rem;
}
.inicio .carousel{
  display: inline-block;
  margin: 4rem 0;
  animation: 5s slide infinite linear;
}
.inicio .carousel img{
  height: 70px;
  margin: 3rem;
}
/*Media Queries*/
@media (min-width:320px) and (max-width:400px) {
  html{ font-size: 20%;}
  .list-container .menu-computadora {display: none;}/* 
  .img-container {height: 89rem; width: 22rem; margin: 2rem 55rem 0 5rem;} */
  .img-container-inicio {display: none;}
  .horizontal-line { display: none; /*  height: 45rem; margin: 5rem 5rem 0 2rem;
    border: 0.5rem solid; */}
  #inicio {height: 100%; margin: 3rem 2rem 17rem 0;}
  .content .parrafo-INVIA {white-space: nowrap;}
  #header .list-container {display: none;}
  .menu-smartphone {height: 100%; width: 100%;}
  .aside-logo-container {z-index: 3; position: relative; right: 2px; margin-right: 0;}
}
@media (min-width:401px) and (max-width:460px) {
  html{ font-size: 15%;}
  .list-container .menu-computadora {display: none;}
  .img-container-inicio {height: 89rem; width: 22rem; margin: 2rem 55rem 0 5rem;}
  .horizontal-line { display: none; /*  height: 45rem; margin: 5rem 5rem 0 2rem;
    border: 0.5rem solid; */}
  #inicio {height: 100%; margin-bottom: 0;}
  .content .parrafo-INVIA {white-space: nowrap;}
  .menu-smartphone {height: 100%; width: 100%;}
  .menu-smartphone-content .list-element {font-size: 1rem;}
  .aside-logo-container {z-index: 3;}
  .menu-responsive {display: none;} 
}
@media (min-width: 461px) and (max-width:879px){
  html{ font-size: 30%;}
  .list-container .menu-computadora {display: none;}
  .img-container-inicio {height: 89rem; width: 22rem; margin: 2rem 55rem 0 5rem;}
  .horizontal-line { height: 45rem; margin: 5rem 5rem 0 2rem;
    border: 0.5rem solid; }
  .content .parrafo-INVIA {white-space: nowrap;}
  .menu-responsive {display: none; }
}

@media (min-width: 880px) and (max-width:1100px){
  html{ font-size: 30%;}
  .list-container .menu-computadora {display: none;}
  .img-container-inicio {height: 89rem; width: 22rem; margin: 2rem 55rem 0 5rem;}
  .horizontal-line { height: 45rem; margin: 5rem 5rem 0 2rem;
    border: 0.5rem solid; }
  .content .parrafo-INVIA {white-space: nowrap;}
  .menu-responsive {display: none;}
}

@media (min-width: 1101px) and (max-width:2000px){
  .menu-responsive {display: none;} 
  .menu-responsive i {display: none;} 
  /* .menu-smartphone {display: none;}  */
}