@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
    max-height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 2rem 6rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.titleS {
    color: #5D60C0;
    font-size: 1.4rem;
    font-weight: 700;
}

.container-linea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.linea {
    width: 6rem;
    height: 0;
    border: 2px solid black;
}

/* Section Redes */

.container-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 2px solid #E8E8E8;
    margin-left: 6rem;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    width: 25rem;
}

.logoRedes {
    width: 1.5rem;
}

/* Main */

.container-main {
    display: grid;
    grid-template-columns: 44% 56%;
    grid-template-rows: 15% 60% 25%;
    margin-left: 6rem;
    grid-template-areas: 
    "aDerecha aIzquierda"
    "cDerecha cIzquierda"
    "bDerecha bIzquierda";
}

.main-title {
    grid-area: aDerecha;
}

/* Formulario */

form {
    grid-area: cDerecha;
    display: grid;
    grid-template-columns: 12.5rem 12.5rem;;
    align-items: center;
    gap: 1rem;
}

label {
    display: block;
}

#name, #email {
    width: 11.5rem;
}

#password {
    width: 25rem;
}

form div:nth-child(3) {
    grid-column: 1 / span 2;
}

button {
    margin-bottom: 1rem;
}

/* section */

main section {
    grid-area: bDerecha;
}

main section p {
    display: inline;
    font-size: .7rem;
    font-weight: 400;
}

main section p span {
    display: block;
}

.container-arrow {
    background-color: #5D60C0;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

main section h3 {
    font-size: .9rem;
}

main section h3 span {
    color: #5D60C0; 
}

#casas-login {
    position: absolute;
    width: 52rem;
    bottom: 0rem;
    right: 0;
    z-index: -1;
}