.c-contenido{
	display: flex;
	justify-content: center;
}
.c-seccion{

	color: #AAD9D9;
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	
}
.c-grupo-seccion{
	padding: 4rem;
}
.c-articulo{
	display: flex;
	justify-content: space-between;
	gap:5%;
	margin-bottom: 6%;
	align-items: center;
}
.c-icono{
	flex: 1;
	width: 10%;
}
.c-icono img{
	width: 95%;
}
.c-leyenda{
	flex: 2;
	color: #fff;
	padding: 3%;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.c-leyenda div:nth-child(4){
	text-align: center;
}
.c-titulo{
	font-size: 12rem;
    font-weight: 700;
	font-family: 'Poppins', sans-serif;
}
.c-parrafo{
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	padding-bottom: 1%;
}
.c-boton{
	color:#fff;
	border-radius:20px;
	font-size: 5rem;
	padding: 5px 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
.c-boton:hover{
	transform: scale(1.1);
}
.c-leyenda a{
	text-align: center;
	text-decoration: none;
	background:#6430ff;
}
.c-leyenda a:hover{
	transform: scale(1.1);
}
.c-cambio{
	width: 140rem;
	height: 300px;
	text-align: center;
	background-image: linear-gradient(to right, #8080d7,#aad9d9);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.c-cambio h4{
	color: #fff;
	font-size: 1.3rem;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
.c-cambio h2{
	color: #fff;
	font-size: 5rem;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}
.c-cambio a{
	background:#000;
	text-decoration: none;
}
.c-articulos{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*estilos de valoraciones*/
.c-valoraciones{
	
	font-family: 'Poppins', sans-serif;
}
.c-integrantes{
	display:flex;
	gap: 6%;
	padding: 6rem 0 6rem 0;
}
.c-cuadro {
	border: #fff solid 5px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
}
.c-cuadro h4{
	color: white;
	font-size: 5rem;
}
.c-cuadro p{
	text-align: center;
	color: #fff;
	font-size: 3rem;
}
.c-cuadro img{
	border-radius: 50%;
    width: 40rem;
    height: auto;
}
.c-valoraciones h2{
	text-align: center;
	color: #fff;
	font-size: 12rem;
}
.c-estrellas{
	display: flex;
    gap: 2rem;
	padding: 2rem 0 4rem 0;
}
.c-estrellas ion-icon{
	color: orange;
	transform: scale(1.3);
	width: 5rem;
    height: 5rem;
}
 
@media screen and (max-width:890px){
	.c-icono{
		display: none;
	}
	.c-titulo{
		font-size: 12rem;
    	font-weight: 700;
	}
	.c-parrafo{
		margin-bottom: 3%;
	}
	.c-boton{
		font-size: 4rem;
	}
	.c-seccion{
		font-size: 3rem;
	}
	
	.c-integrantes{
		flex-direction: column;
		margin: 2%;
	}
	.c-cuadro img{
		width: 35%;
		height: 30%;
		border-radius: 50%;
		padding-top: 5%;
	}
	.c-cuadro{
		margin: 3%;
	}
	.c-estrellas ion-icon{
		transform: scale(3);
		padding: 0% 4%;
	}
	.c-estrellas{
		width: 100%;
		text-align: center;
	}
	.c-cuadro h4{
		font-size: 4rem;
	}
	.c-cuadro p{
			font-size: 1.5rem;	
	}
}