* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Not Found 404 */

.notFound404-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.notFound404-container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.notFound404 {
    position: absolute;
    width: 100vw;
}

@media screen and (max-width: 1000px) {
    .notFound404 img {
        display: none;
    }

    .notFound404-container {
        background-image: url("../assets/img/notFound404.jpg");
        background-size: cover;
        background-repeat: round;
    }
}
