.container {
  display: flex;
}

.sidebar {
  padding: 8px;
}

.sidebar__title {
  margin-bottom: 1rem;  
}

.contenido {
  transition: .8s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  padding: 16px;
  height: 100vw;
  background-color: #efefef;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 40px;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  box-shadow: inset 0 0 5px 5px #212836;
}

/* actuator */
.slider > .actuator {
  position: absolute;
  z-index: 4;
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: transparent;
  box-shadow: 0px 2.41565px 2.41565px rgba(0, 0, 0, 0.25), 2.41565px 4.22738px 4.8313px rgba(0, 0, 0, 0.25), inset 0px -3.01956px 2.41565px #B49A2C, inset 1.81174px 2.41565px 2.41565px rgba(254, 255, 237, 0.61);
  border-radius: 50%;
  overflow: hidden;
}

.actuator-shadow {
  transition: .4s;
}

.actuator-shadow-1 {
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  left: -4px;
  bottom: -4px;
  position: absolute;
  z-index: 3;
}

.actuator-shadow-2 {
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  left: -12px;
  bottom: -12px;
  position: absolute;
  z-index: 3;
}

.actuator-shadow-3 {
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  left: -20px;
  bottom: -20px;
  position: absolute;
  z-index: 3;
}

.actuator-background {
  width: 80px;
  height: 32px;
  transition: .4s;
  background-color: #f3c426;
}

.moon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #c5c9ce;
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
  box-shadow: 0px 2.41565px 2.41565px rgba(0, 0, 0, 0.25), 2.41565px 4.22738px 4.8313px rgba(0, 0, 0, 0.25), inset 0px -3.01956px 2.41565px #373737, inset 1.81174px 2.41565px 2.41565px rgba(255, 255, 255, 0.61);
  transition: .4s;
}

.crater {
  border-radius: 50%;
  position: absolute;
}

.moon-crater-1 {
  width: 5px;
  height: 5px;
  box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.25);
  transform: translate(8px, 16px);
}

.moon-crater-2 {
  width: 4px;
  height: 4px;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.25);
  transform: translate(16px, 20px);
}

.moon-crater-3 {
  width: 6px;
  height: 6px;
  box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.25);
  transform: translate(16px, 8px);
}

input:checked + .slider > .actuator,
input:checked + .slider > .actuator-shadow,
input:checked + .slider > .actuator > .actuator-background > .moon
{ 
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

input:checked + .slider > .actuator {
  box-shadow: none;  
}

input:checked + .slider > .actuator > .actuator-background {
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
  background-color: transparent;
}

/* slider background*/
.slider-background {
  position: absolute;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: 2;
}
  
.slider-background > div {
  height: 40px;
}

.day {
  background-color: #699dc9;
  overflow: hidden;
  position: relative;
}

.dimmed-clouds {
  transform: translateX(-15px) rotate(-5deg);
}

.dimmed {
  background-color: #a3c5e0;
}

.cloud {
  background-color: #f2fbfc;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.cloud-1 {
  width: 75px;
  height: 75px;
  transform: translateY(28px);
}

.cloud-2 {
  width: 50px;
  height: 50px;
  transform: translate(35px, 18px);
}

.cloud-3 {
  width: 50px;
  height: 50px;
  transform: translate(65px, 4px);
}

.night {
  background-color: #1d1e2c;
  overflow: hidden;
  position: relative;
}

.star {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #fff;
  position: absolute;
}

.star-1 {
  width: 3px;
  height: 3px;
  transform: translate(12px, 16px);
}

.star-2 {
  width: 5px;
  height: 5px;
  transform: translate(24px, 8px);
}

.star-3 {
  width: 3px;
  height: 3px;
  transform: translate(12px, 28px);
}

.star-4 {
  width: 3px;
  height: 3px;
  transform: translate(24px, 24px);
}

.star-5 {
  width: 3px;
  height: 3px;
  transform: translate(32px, 16px);
}

.star-6 {
  width: 4px;
  height: 4px;
  transform: translate(24px, 24px);
}

.star-6 {
  width: 3px;
  height: 3px;
  transform: translate(32px, 32px);
}

input:checked + .slider > .slider-background {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}